*{
    margin: 0;
    padding: 0;
}

.profile{
    border: solid 1px rgb(232, 232, 232);
    margin-left: 10px;
    margin-top: 10px;
    width: 300px;
    box-shadow: 0 0 20px rgb(39, 39, 39);
}

.profile img{
    width: 100%;
}

.profile h1{
    margin-left: 10px;
}

.profile p{
    margin-left: 10px;
}