*{
    font-family: sans-serif;
}

.ad{
    background-color: yellow;

}

#square{
    width: 100px;
    height: 100px;
    background-color: red;
}

#circle{
    width: 100px;
    height: 100px;
    background-color: rgb(0, 132, 255);
    border-radius: 50%;
}

#image{
    width: 100px;
    height: 100px;
    background-color: green;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
}

#id1{
     background-color: rgb(255, 255, 255);
    
}
.id2{
    width: 400px;
    height: 500px;
    background-color: whitesmoke;
}