.button{
    height: 50px;
    width: 50px; 
    background-color: lightgray;
    border: none;
    border-radius: 10%;
}

.relative{
    border-color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: red;
    
}